body {
    /* font-family: "Roboto", sans-serif */
}

.w3-bar-block .w3-bar-item {
    padding: 16px;
    font-weight: bold;
}

#atualizar {
    background: url(./img/atualizar.svg) center center no-repeat;
}

#instalar {
    background: url(./img/instalar.svg) center center no-repeat;
}

#menu {
    background: url(./img/mais.svg) center center no-repeat;
}

button {
    border: none;
    cursor: pointer;
    height: 24px;
    margin-right: 16px;
    opacity: 0.54;
    outline: none;
    overflow: hidden;
    text-indent: -30000px;
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    width: 24px;
}